@use '../abstracts' as \*;

.site-header {
  background-color: $color-brand-secondary-dark;
  box-shadow: $header-shadow;
  left: 0;
  padding-block: $size-5x;
  position: fixed;
  top: 0;
  transition: transform 0.1s ease-in-out;
  width: 100%;
  z-index: 999;

  @include mediaQuery(tablet-landscape) {
    background: none;
    box-shadow: none;
    transform: translateY($size-10x);

    &--sticky {
      background-color: $color-brand-secondary-dark;
      transform: translateY(0);
    }
  }

  &\_\_container {
    align-items: center;
    display: grid;
    gap: $size-2x;
    grid-template-columns: 1fr $size-15x $size-7x;

    @include mediaQuery(tablet-landscape) {
      grid-template-columns: repeat(12, 1fr);
      grid-auto-flow: column;
    }
  }

  &\_\_brand {
    width: max-content;

    @include mediaQuery(tablet-landscape) {
      grid-column: 1 / 2;
    }

    &-logo {
      width: $size-35x;

      @include mediaQuery(tablet-landscape) {
        width: $size-40x;
      }
    }
  }

  &\_\_account {
    @include mediaQuery(tablet-landscape) {
      grid-column: 9 /-1;
      justify-self: end;
    }
  }

  &\_\_btn--signup {
    display: none;

    @include mediaQuery(tablet-landscape) {
      display: inline-block;
      margin-inline-start: $size-8x;
      padding-inline: $size-12x;
    }
  }
}

.nav {
  height: max-content;
  width: max-content;

  @include mediaQuery(tablet-landscape) {
    align-self: center;
    grid-column: 3/9;
    width: 100%;
  }

  @include mediaQuery(desktop) {
    grid-column: 3/9;
  }

  &.has-expanded {
    .nav\_\_menu {
      height: 42.5rem;
      padding-block: $size-6x;
      z-index: -1;
    }

    .nav__hamburger {
      background: none;

      &::before {
        top: 0.9rem;
        transform: rotate(45deg);
        transition-delay: 0s, 0.25s;
      }

      &::after {
        bottom: 0.9rem;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.25s;
      }
    }
  }

  &\_\_menu {
    background-color: $color-brand-secondary-dark;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-inline: $size-5x;
    position: fixed;
    top: calc($size-18x - 0.2rem);
    transition: all 0.35s ease;
    width: 100%;

    @include mediaQuery(tablet-landscape) {
      background-color: transparent;
      height: auto;
      padding: 0;
      position: static;
      visibility: visible;
    }
  }

  &\_\_list {
    font-size: $fs-lead;
    font-weight: $fw-bold;
    flex-direction: column;
    row-gap: $size-6x;

    &.is-hidden {
      display: none;

      @include mediaQuery(tablet-landscape) {
        display: flex;
      }
    }

    @include mediaQuery(tablet-landscape) {
      column-gap: $size-6x;
      flex-direction: row;
    }

    @include mediaQuery(desktop) {
      column-gap: $size-10x;
    }

    & > :where(:not(:last-child)) {
      border-bottom: 0.1rem solid $color-brand-secondary-light;
      padding-block-end: $size-6x;
      width: 100%;

      @include mediaQuery(tablet-landscape) {
        border: none;
        padding-block-end: 0;
        width: auto;
      }
    }

    @include mediaQuery(tablet-landscape) {
      width: auto;
    }
  }

  &\_\_link {
    font-weight: 500;
    transition: color 0.3s ease-in-out;

    @include mediaQuery(tablet-landscape) {
      font-size: 1.6rem;
      font-weight: 400;
    }

    &:hover {
      color: $color-neutral-100;
    }
  }

  &\_\_btn {
    margin-block-start: $size-10x;

    @include mediaQuery(tablet-landscape) {
      display: none;
    }
  }

  &\_\_toggler {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: $size-5x;
    justify-content: center;
    padding: 0;
    position: relative;

    @include mediaQuery(tablet-landscape) {
      display: none;
    }
  }

  &\_\_hamburger {
    background: $color-brand-secondary-light;
    border-radius: $size-1x;
    display: block;
    height: 0.2rem;
    transition: background 0.25s;
    width: 2.5rem;

    &::before,
    &::after {
      background: $color-brand-secondary-light;
      content: '';
      display: block;
      height: 0.2rem;
      left: 0;
      position: absolute;
      transform: rotate(0deg);
      transition-delay: 0.25s, 0s;
      transition-duration: 0.25s, 0.25s;
      width: 100%;
    }

    &::before {
      top: 0.2rem;
      transition-property: top, transform;
    }

    &::after {
      bottom: 0.2rem;
      transition-property: bottom, transform;
    }
  }
}
