.site-header {
    background-color: var(--clr-primary);
    background-image: url('../../assets/images/header-bg-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.site-header__container {
    padding: var(--size-6x) var(--size-2x) 0;
}

.site-header__container::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Navbar  */
.nav {
    background-color: var(--nav-color);
    border-radius: var(--radius-sm);
    gap: var(--size-4x);
    height: var(--size-16x);
    padding-inline: var(--size-6x);
}

.nav__menu {
    align-items: center;
    background-color: var(--clr-neutral-900);
    display: flex;
    gap: var(--size-10x);
    justify-content: center;
    left: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

.nav.has-expanded .nav__menu {
    left: 0;
    visibility: visible;
}

.nav__link {
    color: var(--nav-link-color);
    font-size: var(--nav-font-size);
    transition: color var(--transition-2);
}

.nav__link:hover {
    color: var(--clr-secondary);
}

.nav__brand-image {
    position: relative;
    width: 20rem;
    z-index: 4;
}

.nav__toggler {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    height: 27px;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 4;
}

.nav__hamburger {
    background: var(--clr-secondary);
    border-radius: var(--radius-xs);
    display: block;
    height: 0.3rem;
    transition: background 0.25s;
    width: 2.7rem;
}

.nav__hamburger::before,
.nav__hamburger::after {
    background: var(--clr-secondary);
    border-radius: var(--radius-xs);
    content: '';
    display: block;
    height: 0.3rem;
    left: 0;
    position: absolute;
    transform: rotate(0deg);
    transition-delay: 0.25s, 0s;
    transition-duration: 0.25s, 0.25s;
    width: 100%;
}

.nav__hamburger::before {
    top: 0.3rem;
    transition-property: top, transform;
}

.nav__hamburger::after {
    bottom: 0.3rem;
    transition-property: bottom, transform;
}

.nav.has-expanded .nav__hamburger {
    background: none;
}

.nav.has-expanded .nav__hamburger::before {
    top: 1.2rem;
    transform: rotate(45deg);
    transition-delay: 0s, 0.25s;
}

.nav.has-expanded .nav__hamburger::after {
    bottom: 1.2rem;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.25s;
}

@media screen and (min-width:62em) {
    .nav {
        background-color: transparent;
        height: 8rem;
        margin-inline: auto;
        padding-inline: 0;
        position: relative;
        z-index: 2;
    }

    .nav__brand-image {
        width: 28rem;
    }

    .nav__menu {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        left: unset;
        min-height: auto;
        position: unset;
        visibility: visible;
        width: 80%;
    }

    .nav__toggler {
        display: none;
    }
}

@media screen and (min-width:73.4375em) {
    .nav__menu {
        gap: var(--size-16x);
        width: 70%;
    }
}