.u-flex-row,
.u-flex-column,
.u-flex-group {
    display: flex;
}

.u-flex-group {
    gap: var(--size-3x);
    line-height: 1.3;
    align-items: center;
}

.u-flex-column {
    flex-direction: column;
}

.u-flex-pull-center {
    align-items: center;
    justify-content: center;
}

.u-flex-align-center {
    align-items: center;
}

.u-flex-justify-center {
    justify-content: center;
}

.u-flex-between {
    justify-content: space-between;
}