.u-flex-row,
.u-flex-column {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}

.u-flex-pull-center {
    align-items: center;
    justify-content: center;
}

.u-flex-align-center {
    align-items: center;
}

.u-flex-justify-center {
    justify-content: center;
}

.u-flex-between {
    justify-content: space-between;
}