/* Hero  */
.hero__wrapper {
  padding-block-start: var(--size-16x);
  position: relative;
}

.hero__content {
  color: var(--clr-neutral-100);
}

.hero__heading {
  color: var(--clr-neutral-100);
}

.hero__button {
  bottom: var(--size-8x);
  left: 0;
  margin-inline: auto;
  max-width: 30rem;
  position: absolute;
  padding-inline: var(--size-10x);
  right: 0;
  z-index: 2;
}

.hero__image-group {
  min-height: 48rem;
  position: relative;
}

.hero__badges {
  display: flex;
  flex-direction: column;
  gap: var(--size-4x);
  min-width: 25rem;
  padding-block-start: var(--size-30x);
  position: absolute;
  right: 10rem;
}

.hero__badge--star {
  transform: translateX(180%);
}

.hero__badge--massage {
  transform: translateY(-1rem) translateX(80%);
}

.hero__badge--bulb {
  transform: translateX(50%);
}

.hero__image {
  bottom: 0;
  max-width: 30rem;
  position: absolute;
  right: 0;
  transform: translateX(12%);
}

@media screen and (min-width: 48em) {
  .hero__button {
    max-width: fit-content;
  }

  .hero__badges {
    min-width: 25rem;
    padding-block-start: var(--size-20x);
    right: 25rem;
  }

  .hero__badge {
    width: 9rem;
  }

  .hero__badge--star {
    transform: translateX(120%);
  }

  .hero__badge--massage {
    transform: translateY(-1.5rem) translateX(20%);
  }

  .hero__badge--bulb {
    transform: translateX(-10%);
  }

  .hero__image {
    max-width: 40rem;
    transform: translateX(0);
  }
}


@media screen and (min-width:62em) {
  .hero__wrapper {
    height: 100%;
    padding-block: var(--size-40x);
    position: relative;
    width: 100%;
  }

  .hero__content {
    gap: var(--size-6x);
  }

  .hero__button {
    position: unset;
  }

  .hero__image-group {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .hero__image {
    transform: translateX(0);
    max-width: 40rem;
    bottom: 0;
    position: relative;
  }

  .hero__badges {
    padding-block-start: var(--size-40x);
    right: 22rem;
  }
}

/* Experiencing  */
.experiencing {
  background-color: var(--clr-neutral-100);
  position: relative;
  z-index: 2;
}

.experiencing__separator {
  margin-block: var(--size-2x) var(--size-4x);
}

.experiencing__header {
  gap: var(--size-6x);
  margin-block-end: var(--size-10x);
}

.experiencing__heading {
  margin-inline: 0;
}

.experiencing__header-content p:last-child {
  margin-block-start: var(--size-4x);
}

.experiencing__header-text:not(:last-child) {
  margin-block-end: var(--size-4x);
}

.experiencing__title {
  font-weight: var(--fw-bold);
  margin-block-end: var(--size-3x);
}

.experiencing__types {
  gap: var(--size-10x);
}

.experiencing__type {
  gap: var(--size-5x);
}

.experiencing__sub-heading {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  margin-block-end: var(--size-4x);
  text-transform: uppercase;
}

.experiencing__type-details {
  list-style: disc;
  padding-inline-start: var(--size-6x);
}

@media screen and (min-width:62em) {
  .experiencing__header-content {
    grid-column: 2;
  }

  .experiencing__header-image {
    grid-column: 1;
    grid-row: 1;
  }

  .experiencing__header,
  .experiencing__type {
    gap: var(--size-16x);
  }

  .experiencing__types {
    padding-inline-start: var(--size-20x);
  }
}

/* Hidden Truth  */
.hidden-truth {
  background-image: url('../../assets/images/hidden-truth-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  text-align: center;
}

.hidden-truth::before {
  background-color: var(--clr-neutral-100);
  content: '';
  clip-path: xywh(0 0 100% 100% round 0 0 100% 100%);
  left: 50%;
  height: 20rem;
  position: absolute;
  top: -16%;
  width: 110%;
  transform: translateX(-50%);
  z-index: 1;
}

.hidden-truth__wrapper {
  padding: var(--size-30x) var(--size-2x) var(--size-12x);
}

.hidden-truth__heading {
  color: var(--clr-neutral-100);
}

.hidden-truth__title {
  color: var(--clr-neutral-100);
}

.hidden-truth__details-card {
  margin-block-start: var(--size-10x);
  padding: var(--size-6x) var(--size-5x) var(--size-5x);
  color: var(--clr-neutral-100);
  background-color: hsla(197, 100%, 40%, 0.678);
}

.hidden-truth__details-bottom-text {
  font-weight: var(--fw-medium);
}

.hidden-truth__list {
  gap: var(--size-4x);
  margin-block-end: var(--size-6x);
}

.hidden-truth__item {
  gap: var(--size-3x);
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width:62em) {
  .hidden-truth__separator {
    max-width: 70%;
    margin-inline: auto;
  }

  .hidden-truth__details-card {
    grid-column: 2;
  }
}

/* Solution  */
.solution {
  background-color: var(--clr-neutral-500);
  background-image:
    url('../../assets/images/solution-bg-image-left.png'),
    url('../../assets/images/solution-bg-image-right.png');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  text-align: center;
}

.solution-hr-separator {
  margin-block: var(--size-3x);
}

.solution__image {
  grid-row: 2;
}

.solution__list {
  gap: var(--size-12x);
  margin-block-start: var(--size-10x);
}

.solution__item {
  line-height: 1.4;
  max-width: 40ch;
  margin-inline: auto;
  text-align: center;
}

.solution__title {
  color: var(--clr-primary-light);
  margin-block: var(--size-4x) var(--size-1x);
}

.solution__icon {
  width: 8.5rem;
}

@media screen and (min-width:62em) {
  .solution-hr-separator {
    max-width: 70%;
    margin-inline: auto;
  }

  .solution__details {
    align-items: center;
  }

  .solution__list {
    gap: var(--size-8x);
  }

  .solution__item {
    flex-direction: row;
    gap: var(--size-4x);
    margin-inline: 0;
    text-align: left;
  }

  .solution__icon {
    width: 13.7rem;
  }

  .solution__image {
    grid-row: 1;
    grid-column: 1;
  }
}

/* About us  */
.about__wrapper {
  padding-block-end: var(--size-10x);
}

.about__heading {
  max-width: 18ch;
  margin-inline: auto;
}

.about__bio-col-1 {
  text-align: center;
}

.about__quote {
  border: 8px solid var(--clr-secondary);
  margin-block-start: var(--size-5x);
  padding: var(--size-4x);
}

.about__quote-image {
  margin-block-end: var(--size-4x);
}

.about__quote-content {
  gap: var(--size-2x);
  text-align: left;
}

.about__quote-text {
  font-size: var(--fs-body-lg);
  font-weight: var(--fw-bold);
  line-height: 1.8;
  padding-inline-start: var(--size-6x);
}

.about__quote-by {
  align-self: flex-end;
}

.about__bio-col-2 {
  gap: var(--size-5x);
  margin-block-start: var(--size-10x);
  padding-inline: var(--size-5x);
}

.about__bio-text--callout {
  background-color: var(--clr-primary-light);
  border-radius: var(--radius-pill);
  color: var(--clr-neutral-100);
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-bold);
  margin-block: var(--size-4x);
  padding: var(--size-3x) var(--size-8x);
  text-align: center;
}

.about__skills {
  gap: var(--size-12x);
  margin-block-start: var(--size-10x);
  padding-inline: var(--size-5x);
  text-align: center;
}

.about__skill {
  margin-inline: auto;
  max-width: 35ch;
}

.about__skill-title {
  color: var(--clr-primary-light);
  margin-block: var(--size-4x) var(--size-1x);
}

.about__skill-icon {
  width: 8.5rem;
}

.about__info {
  margin-block-start: var(--size-10x);
}

.about__info-content {
  gap: var(--size-5x);
  position: relative;
  padding-inline: var(--size-5x);
}

.about__info-callout {
  background-color: var(--clr-secondary);
  border-radius: var(--radius-pill);
  color: var(--clr-neutral-100);
  font-size: var(--fs-body-lg);
  font-weight: var(--fw-bold);
  left: 0;
  max-width: 80%;
  margin-inline: auto;
  padding: var(--size-2x) var(--size-8x);
  position: absolute;
  right: 0;
  text-align: center;
  top: -9.2rem;
}

.about__info-image-wrapper {
  margin-block-end: var(--size-16x);
}

.about__info-quote {
  color: var(--clr-primary-light);
  font-weight: var(--fw-bold);
}

/* Services  */
.services {
  background-color: var(--clr-primary);
  text-align: center;
}

.services__wrapper {
  padding-block-end: var(--size-10x);
}

.services__title {
  color: var(--clr-secondary);
}

.services__heading {
  color: var(--clr-neutral-100);
}

.services__catalogue {
  margin-block-start: var(--size-10x);
  gap: var(--size-6x);
}

.services__item {
  background-color: var(--clr-neutral-700);
  border-radius: var(--radius-lg);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  overflow: hidden;
}

.services__item-title {
  color: var(--clr-primary-light);
  max-width: 15ch;
  margin-inline: auto;
}

.services__item-description {
  padding: 0 var(--size-6x) var(--size-4x);
}

/* Ebook  */
.ebook__wrapper {
  margin-block-end: var(--size-8x);
  gap: var(--size-10x);
  position: relative;
}

.ebook__image {
  grid-row: 2;
}

.ebook__content-header {
  padding-inline: var(--size-5x);
  margin-block-end: var(--size-6x);
  text-align: center;
}

.ebook__text {
  margin-block-end: var(--size-6x);
}

.ebook__benefits {
  gap: var(--size-4x);
}

.ebook__benefits-item strong {
  font-weight: var(--fw-bold);
  color: #000;
}

.ebook__button {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  left: 0;
  max-width: 28rem;
  margin-inline: auto;
}

/* Book-Call  */
.book-call {
  background-image: url('/src/assets/images/book-call-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.book-call__content {
  gap: var(--size-6x);
}

.book-call__content-header {
  padding-inline: var(--size-5x);
  text-align: center;
}

.book-call__benefits {
  gap: var(--size-4x);
  font-weight: var(--fw-bold);
  padding-inline-start: var(--size-6x);
  max-width: 32ch;
}

.book-call__button {
  padding-block: var(--size-2x);
  width: 100%;
}

.book-call__button .button__icon {
  width: var(--size-8x);
}

.book-call__button--strategy {
  margin-block-end: var(--size-3x);
}

/* Bulletin  */
.bulletin__wrapper {
  padding-block-end: var(--size-6x);
}

.bulletin__header {
  padding-inline: var(--size-5x);
  margin-block-end: var(--size-6x);
  text-align: center;
  grid-row: 1;
}

.bulletin__image-wrapper {
  position: relative;
  margin-block-end: var(--size-6x);
}

.bulletin__avatar {
  height: 10rem;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  width: 10rem;
}

.bulletin__title {
  margin-block-start: var(--size-3x);
}

.bulletin__notice {
  margin-block-end: var(--size-3x);
}

.bulletin__benefits {
  gap: var(--size-4x);
}

.bulletin__icon {
  width: var(--size-8x);
}

.bulletin__text {
  margin-block: var(--size-6x);
}

.bulletin__button {
  font-size: var(--fs-body-xs);
}